*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}
body{
  min-height: 100vh;
  background-image: url('img/bimg6.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Audiowide", sans-serif;
  animation: animate 24s ease-in-out infinite;
}
header{
 position: fixed;
 top: 0; left: 0; right: 0;
 background: transparent;
 box-shadow: 0 5px 10px rgba(0,0,0,.1);
 padding: 0px 7%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 1000;
}
ul {
  list-style-type: none;
}
ul li {
  position: relative;
  float: left;
  padding: .3rem;
}
ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.2rem;
  border: 1vh transparent;
  border-radius: 1.3vh;
  font-size: 150%;
  transition: .5s;
}
ul li a:hover {
  background-color:#fff;
  color: #333;
}
ul li ul{
  position: absolute;
  left: 0;
  width: 30vh;
  background: #333;
  display: none;
}
ul li ul li{
  width: 80%;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-left: 3vh;
}
ul li ul li a{
  font-size: 3vh;
}
ul li ul li ul{
  left: 200px;
  top: 0;
}
ul li:focus-within>ul,
ul li:hover>ul{
  display: initial;
}
ul li ul:focus-visible>li,
ul li ul:hover>li{
  display: initial;
}
.row1{
  display: block;
  background: #333;
}
.main {
  max-width: 1240vh;
  margin: auto;
}
h1 {
  position: absolute;
  top: 34%;
  left: 20%;
  color: #fff;
  font-size: 5vw;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}
.button {
  position: absolute;
  top: 62%;
  left: 42%;
}
.btn {
  text-decoration: none;
  border: .4vh solid#fff;
  padding: 1.5vh 4.3vw;
  color: #fff;
  border-radius: 1vw;
  font-size: 3vh;
  transition: .5s;
}
.btn:hover {
  background-color: #fff;
  color: #333;
}
@keyframes animate{
  0%{
    background-image: url('img/bimg6.png');
  }
  5%{
    background-image: url('img/bimg11.png');
  }
  10%{
    background-image: url('img/bimg9.png');
  }
  20%{
    background-image: url('img/bimg8.png');
  }
  40%{
    background-image: url('img/bimg10.png');
  }
  50%{
    background-image: url('img/bimg12.png');
  }
  65%{
    background-image: url('img/bimg13.png');
  }
  85%{
    background-image: url('img/bimg14.png');
  }
  100%{
    background-image: url('img/bimg10.png');
  }
}
